<html>
<head>  
<meta charset='UTF-8'>
<title>Statistics</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link href="css/monitoring.css" rel="stylesheet">
</head>  
<body role="document" ng-app='myApp'> 


  <!-- Fixed navbar -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
              <div class="navbar-header">
                  <ul class="nav navbar-nav">
                      <li><img src="https://raw.githubusercontent.com/Fermat-ORG/media-kit/master/MediaKit/Fermat%20Branding/Fermat%20Logotype/Fermat_Logo_3D.png" class="img-responsive" alt="Fermat.org" width="95px" height="95px" /></li>
                      <li><a class="navbar-brand" href="#">Cloud Server</a></li>
                  </ul>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="http://localhost:9090/fermat">Home</a></li>
                  </ul>
              </div><!--/.nav-collapse -->
       </div>
    </nav>


	<div class='container theme-showcase' role="main"> 
	
		<br>
		 <h2 class="page-header">Statistics of the current month</h2>
		
		   <br/>   <br/>
		 <div class='row'>
		   <div class='col-lg-12' ng-controller='controllerStatistic'>
			<div id='myfirstchart' style='height: 270px; background-color:white;'></div>
		   </div>
		   
		  <div class='col-lg-3 legend'>
		  
		   		<h3 class="page-header"><em> Legend: </em></h3>
		   		<table>
		   		<tr>
		   		   <td><div class="cuadrecpu" ></div></td>
		   		   <td> <p class='pcpu'> Percent of Cpu</p></td>
		   		</tr>
		   		 <tr>
		   		    <td><div class='cuadrememory'></div></td>
		   		    <td> <p class='pmemory'> Percent of Memory</p></td>
		   		  </tr>
		   		</table>
	   
	   
	   		</div>
	   
	   		<div class='col-lg-6'>
	   		</div>
		
		 </div>
	
	</div>

  	  <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <footer>
          <p>© 2016 Develop at <a href="http://fermat.org/">Fermat.org</a>.</p>
      </footer>


<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>

$('.legend').hide();
    var app = angular.module('myApp', []);
      
    app.controller("controllerStatistic", function($scope, $http)
 	{
 
 
	    $http.get('http://localhost:9696/statistics/admin/usageaverage/current/data')
		 .success(function(response) {

		 	if(response.success){
		 	 
			 	 var auxdata = [];
			 	 auxdata = JSON.parse(response.data);
			 	 //console.log(auxdata); 

			 	 var index;
			 	 var vectorstatistics = [];
			 	 for(index = 0; index < auxdata.length; index++){
			 	 	var dia = auxdata[index].year.toString() +'-'+ auxdata[index].month.toString() +'-'+ auxdata[index].day.toString();
			 	  vectorstatistics.push({day:dia, memory:auxdata[index].memory, cpu:auxdata[index].cpu});
			 	 }

			 	 //console.log(vectorstatistics); 
			     		      
				 new Morris.Area({
				   element: 'myfirstchart',
				   data: vectorstatistics,
				   xkey: 'day',
				   ykeys: ['memory','cpu'],
				   labels: ['Memory','Cpu'],
				    gridTextSize:10
				});
				
				$('.legend').show();

			}

		})
		.error(function(data) {
		    console.log('Error: ' + data);
	   });


	});

</script>
 
<style type="text/css">

.cuadrecpu{
	width:15px;height:15px; background-color:rgba(167, 179, 188, 0.98); 
}

.cuadrememory{
	width:15px;height:15px; background-color:rgb(37, 119, 181) 
}

.pcpu{
	margin:0;color:rgba(167, 179, 188, 0.98);padding-left: 10px;
}

.pmemory{
	margin:0;color:rgb(37, 119, 181);padding-left: 10px;
}

</style> 

</body>  
</html>  

