<html>
<head>  
<meta charset='UTF-8'>
<title>Statistics</title>
<link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
</head>  
<body ng-app='myApp'> 

<div class='container'> 

 <div class='row'>
   <div class='col-lg-12' ng-controller='controllerStatistic'>
	<div id='myfirstchart' style='height: 250px;'></div>
   </div>

 </div>


</div>

<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>

<script>
    var app = angular.module('myApp', []);
      
    app.controller("controllerStatistic", function($scope, $http)
 	{
 
 
	    $http.get('http://localhost:9696/statistics/admin/usageaverage/current/data')
		 .success(function(response) {

		 	if(response.success){
		 	 
			 	 var auxdata = [];
			 	 auxdata = JSON.parse(response.data);
			 	 //console.log(auxdata); 

			 	 var index;
			 	 var vectorstatistics = [];
			 	 for(index = 0; index < auxdata.length; index++){
			 	 	var dia = auxdata[index].year.toString() +'-'+ auxdata[index].month.toString() +'-'+ auxdata[index].day.toString();
			 	  vectorstatistics.push({day:dia, memory:auxdata[index].memory, cpu:auxdata[index].cpu});
			 	 }

			 	 //console.log(vectorstatistics); 
			     		      
				 new Morris.Area({
				   element: 'myfirstchart',
				   data: vectorstatistics,
				   xkey: 'day',
				   ykeys: ['memory','cpu'],
				   labels: ['Memory','Cpu'],
				});

			}

		})
		.error(function(data) {
		    console.log('Error: ' + data);
	   });


	});

</script>
</body>  
</html>  

